<div class="mdl-grid">
    <div class="mdl-cell mdl-shadow--2dp  mdl-cell--middle" style="min-width:942px"
         ng-class="pageStyle.pageOffset">
        <md-content class="md-content-text">
            <h4 md-colors="{color: 'blue-A200'}">
                使 用 指 南
                <md-tooltip>不听老人言，死在我面前，文档一定要看！！！！</md-tooltip>
            </h4>
            <p>
            <h6>关于操作</h6>
            <ul>
                <li>
                    点击左上方
                    <md-icon>menu
                        <md-tooltip>左上方那个蓝色的按钮，看到了没？</md-tooltip>
                    </md-icon>
                    菜单，用你的AMoeBa账号密码登录后可以使用系统相关功能。
                </li>
                <li>
                    批量新增/批量删除操作，提交后系统会新启动一个线程去执行相关操作，请
                    <span md-colors="{color: 'pink'}">
                        耐心等待1～2分钟
                        <md-tooltip>我想你应该明白，耐心，是什么意思吧？</md-tooltip>
                    </span>
                    ，千万
                    <span md-colors="{color: 'pink'}">
                        不要提交重复操作！
                        <md-tooltip>重复提交会造成重复操作，后果自负！</md-tooltip>
                    </span>
                </li>
                <li>
                    批量新增日志时系统会
                    <span md-colors="{color: 'green-700'}">
                        自动跳过法定节假日
                        <md-tooltip>一个小彩蛋，惊喜不</md-tooltip>
                    </span>
                    ，可以手动选择是否跳过双休日。目前系统已经维护了2019年度的所有法定节假日。
                </li>
            </ul>
            </p>
            <p>
            <h6>关于用户敏感数据</h6>
            <ul>
                <li>
                    相关操作会在系统日志中保留痕迹，介意者慎用！
                </li>
                <li>
                    系统保存了用户名和AMoeBaId用于菜单权限的控制（
                    <span md-colors="{color: 'pink'}">
                        没有保存密码
                        <md-tooltip>我要你密码，难道是帮你写AMoeBa吗？</md-tooltip>
                    </span>
                    ，要你们这个密码也并没有啥用），介意者慎用！
                </li>
            </ul>
            </p>
            <p>
            <h6>关于系统</h6>
            <ul>
                <li>
                    为了保证系统的可用性，目前
                    <span md-colors="{color: 'pink'}">
                        仅允许20位用户
                        <md-tooltip>服务器配置极低，怕扛不住压力，尽量错开月末使用高峰期！</md-tooltip>
                    </span>
                    同时操作，注销登录或者无操作五分钟后会自动释放用户数。
                </li>
                <li>
                    作为插件，为了给各位同事减轻工作负担而诞生，希望大家使用时
                    <span md-colors="{color: 'pink'}">
                        低调点
                        <md-tooltip>嗯哼～应该懂我意思吧？</md-tooltip>
                    </span>
                    ，不要相互传播。
                </li>
                <li>
                    系统已经包含密钥功能，暂未开启，若用户太多，导致系统不堪重负，随时会打开
                    <span md-colors="{color: 'pink'}">
                        密钥授权
                        <md-tooltip>恕我直言，就算开源，在座的各位也破解不了密钥策略</md-tooltip>
                    </span>
                    模式。
                </li>
                <li>
                    本在站点部署在阿里云服务器，服务器将于
                    <span md-colors="{color: 'pink'}">
                        2021年6月到期
                        <md-tooltip>假如有人愿意捐赠也是可以的</md-tooltip>
                    </span>。
                </li>
            </ul>
            </p>
            <p>
            <h6>To Coder</h6>
            <ul>
                <li>
                    本站点采用Angular Material和Spring Boot作为前后端主要框架。
                </li>
                <li>
                    本站点数据存储使用SQLite轻量级数据库。
                </li>
                <li>
                    本站点所有源码均已在<a md-colors="{color: 'light-blue'}" href="https://github.com/cloudtry/AMoeBa-Tools" target="_blank">GitHub
                    <md-icon>launch</md-icon>
                    <md-tooltip>项目开源，可在本地造作，不受本文档限制</md-tooltip>
                </a>开源，有需要的同事可自行拉取代码，随意造作。
                </li>
                <li>
                    截止系统开放时，已暂停更新，若无重大问题，不提供任何功能和需求修改请求。
                </li>
                <li>
                    使用过程中遇到问题请在反馈中提交问题描述。
                </li>
            </ul>
            </p>


        </md-content>
    </div>
</div>

